# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# node_modules
node_modules
packages/node-server/node_modules
packages/react/node_modules

# .env
packages/node-server/.env
packages/react/.env