# ReactJS
packages/client-react/public
packages/client-react/build
packages/client-react/src/logo.svg
packages/client-react/src/assets
packages/client-react/.env
packages/client-react/README.md

# Server
packages/server-express/.env
packages/server-fastify/.env

# Misc
.eslintrc.json
.gitignore
.prettierignore
.prettierrc
README.md

# Yarn / npm
package-lock.json
yarn.lock
yarn-error.log